{% load static %}
<article class="follow-item">
    <div class="follow-item__profile-container">
        <div>
            {% if user.profile_image_user.all %}
            {% for profile_image in user.profile_image_user.all %}
                {% if forloop.last %}
                    <img class="follow-item__profile-image" src="{{ profile_image.image.url }}">
                {% endif %}
            {% endfor %}
            {% else %}
            <img class="follow-item__profile-image"  src="{% static 'twitter_web/assets/icons/default_profile_image.png' %}">
            {% endif %}
        </div>
    </div>
    <div class="follow-item__profile-details">
        <a class="follow-item__profile-detail" href="{% url 'twitter_web:profile' username=user.username %}">
            <div class="follow-item__profile-detail-container">
                <div class="follow-item__profile-info">
                    <h3>
                        <span>
                            {{ user.fname }} 
                            {{ user.lname}}
                        </span>
                        {% if user.is_verified %}
                        <span>
                            <img class="follow-item__user-verified-tag"
                                src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}">
                        </span>
                        {% endif %}
                    </h3>
                    <span>@{{ user.username }}</span>
                    {% if user in session_user.followers.all %}
                    <span class="follow-item__profile-info-follows">Follows you</span>
                    {% endif %}
                </div>
                <div class="follow-item__profile-follow">
                    <form onsubmit="return false" method="POST" action="{% url 'twitter_web:follow' %}">
                        {% csrf_token %}
                        <input type="hidden" name="follower" value="{{ session_user.username }}">
                        <input type="hidden" name="profile" value="{{ user.username }}">
                        {% if user in session_user.followings.all %}
                        <button class="follow-item__follow-button follow-item__follow-button--following" onclick="onFollowButtonClick(this, {{ user.id }})">Following</button>
                        {% elif user in session_user.followers.all %}
                        <button class="follow-item__follow-button" onclick="onFollowButtonClick(this, {{ user.id }})">Follow Back</button>
                        {% elif session_user == user %}
                        {% else %}
                        <button class="follow-item__follow-button" onclick="onFollowButtonClick(this, {{ user.id }})">Follow</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </a>
        <div class="follow-item__profile-detail">
            {% for user_bio in user.bio_user.all %}
                {% if forloop.last %}
                    <p>{{ user_bio.text }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</article>