{% load static %}
<article class="single-tweet">
  {% if is_retweeted %}
    <div class="single-tweet__retweet">
      <span class="single-tweet__retweet-img"><img src="{% static 'twitter_web/assets/icons/icons8-repeat-96.png' %}"></span>
      <span class="single-tweet__retweet-text">{{ retweeted_by.fname }}</span>
      <span class="single-tweet__retweet-text">{{ retweeted_by.lname }}</span>
      <span class="single-tweet__retweet-text">Retweeted</span>
    </div>
  {% endif %}
  <div class="single-tweet__tweet-sections">
    <a class="single-tweet__tweet-profile-image-section">
      <div>
        {% if tweet.user_id.profile_image_user.all %}
        {% for profile_image in tweet.user_id.profile_image_user.all|slice:":1" %}
        <img class="single-tweet__tweet-profile-img" src="{{ profile_image.image.url }}">
        {% endfor %}
        {% else %}
        <img class="single-tweet__tweet-profile-img" src="{% static 'twitter_web/assets/icons/default_profile_image.png' %}">
        {% endif %}
      </div>
    </a>
    <div class="single-tweet__tweet-body-section">
      <div class="single-tweet__tweeter-info">
        <p>
          <a class="single-tweet__tweeter-link" href="{% url 'twitter_web:profile' username=tweet.user_id.username %}">
            <span class="single-tweet__tweeter-fname">{{ tweet.user_id.fname }}</span>
            <span class="single-tweet__tweeter-lname">{{ tweet.user_id.lname }}</span>
            {% if tweet.user_id.is_verified %}
            <span class="single-tweet__tweeter-verified-tag">
              <img class="single-tweet__user-verified-tag"
                src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}">
              </span>
            {% endif %}
          </a>
        </p>
        <p class="single-tweet__tweeter-username">@{{ tweet.user_id.username }}﹒</p>
        <p class="single-tweet__tweeter-username">{{ tweet.age }}</p>
      </div>
      <div class="single-tweet__tweet-body">
        <p class="single-tweet__tweet-text">{{ tweet.text }}</p>
        <div class="single-tweet__image-container">
          {% for image_item in tweet.tweet_image_user_id.all %}
          <img class="single-tweet__image" src="{{ image_item.image.url }}">
          {% endfor %}
        </div>
        {% if tweet.is_quote_tweet %}
        <div>
          {% verbatim %}
          {% include 'twitter_web/include/quoted_tweet.html' %}
          {% endverbatim %}
        </div>
        {% endif %}
      </div>
      <div class="single-tweet__actions">
        <div class="single-tweet__action">
          <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-bar-chart-96.png' %}"></span>
          <span>{{ tweet.impression_post_id.all.count }}</span>
        </div>
        <div class="single-tweet__action">
          <a href="{% url 'twitter_web:tweet' tweet_id=tweet.id %}">
            <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-speech-bubble-96.png' %}"></span>
            <span>{{ tweet.parent_tweet.all.count }}</span>
          </a>
        </div>
        <div class="single-tweet__action">
          <form onsubmit="return false" action="{% url 'twitter_web:retweet' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
            <input type="hidden" name="retweet_image_url" value="{% static 'twitter_web/assets/icons/icons8-repeat-96.png' %}">
            <input type="hidden" name="retweeted_image_url" value="{% static 'twitter_web/assets/icons/icons8-repeat-96-green.png' %}">
            {% if session_user in tweet.retweets.all %}
            <input type="hidden" name="retweet_value" value="Retweeted">
            <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-repeat-96-green.png' %}" onclick="onRetweetButtonClick(this, {{ tweet.id }})"></span>
            {% else %}
            <input type="hidden" name="retweet_value" value="Not retweeted">
            <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-repeat-96.png' %}" onclick="onRetweetButtonClick(this, {{ tweet.id }})"></span>
            {% endif %}
            <span>{{ tweet.retweet_post_id.all.count }}</span>
          </form>
        </div>
        <div class="single-tweet__action">
          <form onsubmit="return false" action="{% url 'twitter_web:like' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
            <input type="hidden" name="like_image_url" value="{% static 'twitter_web/assets/icons/icons8-heart-96.png' %}">
            <input type="hidden" name="liked_image_url" value="{% static 'twitter_web/assets/icons/icons8-heart-96-red.png' %}">
            {% if session_user in tweet.likes.all %}
            <input type="hidden" name="like_value" value="Liked">
            <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-heart-96-red.png' %}" onclick="onLikeButtonClick(this, {{ tweet.id }})"></span>
            {% else %}
            <input type="hidden" name="like_value" value="Not liked">
            <span><img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-heart-96.png' %}" onclick="onLikeButtonClick(this, {{ tweet.id }})"></span>
            {% endif %}
            <span>{{ tweet.like_post_id.all.count }}</span>
          </form>
        </div>
        <div class="single-tweet__action">
          <span class="single-tweet__action-spl-span">
            <div class="single-tweet__more-options">
              <div>
                <form method="POST" action="{% url 'twitter_web:bookmark' %)">
                  {% csrf_token %}
                  <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                  {% if already_bookmarked %}
                  {% else %} 
                  {% endif %}
                  <img src="">
                  <span>Bookmark</span>
                </form>
                <form method="POST" action="{% url 'twitter_web:delete_tweet' %}">
                  {% csrf_token %}
                  <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
                  <img src="">
                  <span>Delete Tweet</span>
                </form>
                <div>
                  <img src="">
                  <span>Copy Link</span>
                </div>
                <button class="single-tweet__more-option-cancel">X</button>
              </div>
              <div class="single-tweet__more-options-pointer"></div>
            </div>
            <img class="single-tweet__action-image" src="{% static 'twitter_web/assets/icons/icons8-uninstalling-updates-96.png' %}">
          </span>
        </div>
      </div>
    </div>
  </div>
</article>
