{% include 'twitter_web/include/head.html' with title=user.name %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_web/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
</head>

<body>

  {% include 'twitter_web/include/tweet-modal.html' %}

  <div class="modal-error">
    <h3 class="modal-error__head">Error</h3>
    <p class="modal-error__message"></p>
    <button class="modal-error__cancel" onclick="dismissErrorModal()">X</button>
  </div>

  <div class="container">

    {% include 'twitter_web/include/nav-bar.html' with session_user=user.session_user page='bookmarks' %}

    <main class="main-section">
      <header class="main-section__header">
        <div class="main-section__go-back">
          <a class="main-section__go-back-link"
            href="{% url 'twitter_web:profile' username=user.session_user.username %}">
            <div>
              <img src="{% static 'twitter_web/assets/icons/icons8-left-96.png' %}">
            </div>
          </a>
        </div>
        <div class="main-section__user-head">
          <h3 class="main-section__user-heading">
            Bookmarks
          </h3>
        </div>
      </header>

      <section class="main-section__tweets">
        {% if user.bookmarks %}
        {% for bookmark in user.bookmarks %}
        {% include 'twitter_web/include/tweet.html' with session_user=user.session_user tweet=bookmark.post_id %}
        {% endfor %}
        {% else %}
        <article class="main-section__no-tweets">
          <h3 class="main-section__no-tweet-header">Wow so empty ...</h3>
          <p class="main-section__no-tweet-para">Try bookmarking your first tweet!</p>
        </article>
        {% endif %}
      </section>

    </main>

    {% include 'twitter_web/include/search-bar.html' %}

  </div>

  <script src="{% static 'twitter_web/js/profile.js' %}"></script>
  <script src="{% static 'twitter_web/js/tweet.js' %}"></script>

  {% include 'twitter_web/include/footer.html' %}