{% include 'twitter_web/include/head.html' with title=user.name %}
{% load static %}

<link rel="stylesheet" href="{% static 'twitter_web/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/timeline.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/follow-item.css' %}">
</head>

<body>

  {% include 'twitter_web/include/tweet-modal.html' %}

  {% include 'twitter_web/include/error-modal.html' %}

  <div class="container">
    {% include 'twitter_web/include/nav-bar.html' with session_user=session_user page='timeline' %}

    <main class="main-section">
      <header class="main-section__header">
        <div class="main-section__heads">
          <h3 class="main-section__heads-item main-section__heads-item--selected" onclick="selectTab('following')">Followings</h3>
          <h3 class="main-section__heads-item" onclick="selectTab('followers')">Followers</h3>
        </div>
      </header>

      <div class="main-section__tabs">
        <section class="main-section__following">
          {% for person in user.object.followings.all %}
          {% include 'twitter_web/include/follow-list-item.html' with user=person  %}
          {% endfor %}
        </section>
        <section class="main-section__followers">
          {% for person in user.object.followers.all %}
          {% include 'twitter_web/include/follow-list-item.html' with user=person %}
          {% endfor %}
        </section>
      </div>

</main>

{% include 'twitter_web/include/search-bar.html' %}

<div>

<script src="{% static 'twitter_web/js/follow.js' %}"></script>

{% include 'twitter_web/include/footer.html' %}