{% include 'twitter_web/include/head.html' with title='Home' %}
{% load static %}
</head>
<body>
    <div>
        <div>
            <div>
                <img src="{% static 'twitter_web/assets/icons/main.jpg' %}">
            </div>
            <div>
                <h3>See what's happening in the world right now</h3>
                <div>
                    <ul>
                        <li>
                            <div>
                                <img src="{% static 'twitter_web/assets/icons/icons8-home-page-96.png' %}">
                                <p>Follow your interests</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="{% static 'twitter_web/assets/icons/icons8-home-page-96.png' %}">
                                <p>Hear what people are talking about</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="{% static 'twitter_web/assets/icons/icons8-home-page-96.png' %}">
                                <p>Join the conversation</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div>
                <img>
                <h4>Join Twitter Today</h4>
            </div>
            <div>
                <a href="{% url 'twitter_web:register' %}">Register</a>
                <div>
                    <hr>
                    <p>Or, already have an account?</p>
                    <hr>
                </div>
                <a href="{% url 'twitter_web:login' %}">Login</a>
            </div>
        </div>
    </div>

{% include 'twitter_web/include/footer.html' %}