{% include 'twitter_web/include/head.html' with title=user.name %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
</head>

<body>
  <div class="modal-backdrop"></div>

  {% if not user.session_user %}
  <div class="modal-login">
    <h3 class="modal-login__title">Join Twitter</h3>
    <p class="modal-login__subtitle">Login or register to complete the action.</p>
    <div class="modal-login__buttons">
      <a class="modal-login__button modal-login__button--login" href="{% url 'twitter_web:login' %}">Login</a>
      <a class="modal-login__button modal-login__button--register" href="{% url 'twitter_web:register' %}">Register</a>
    </div>
    <button class="modal-login__cancel" id="cancel-button">X</button>
  </div>
  {% endif %}

  <div class="modal-tweet">
    <button class="modal-tweet__cancel" onclick="dismissTweetModal()">X</button>
    <div class="modal-tweet__content">
      <div>
        {% if user.session_user.profile_image_user.all %}
        {% for profile_image in user.session_user.profile_image_user.all|slice:":1" %}
        <img class="modal-tweet__profile-image" src="{{ profile_image.image.url }}" alt="profile_image">
        {% endfor %}
        {% else %}
        <img class="modal-tweet__profile-image" src="{% static 'twitter_web/assets/icons/default_profile_image.png' %}" alt="profile_image">
        {% endif %}
      </div>
      <form class="modal-tweet__form" action="{% url 'twitter_web:post_tweet' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="hidden" name="is_comment" value="False">
        <input type="hidden" name="is_quote_tweet" value="False">
        <input type="hidden" name="is_commercial" value="False"> -->
        <div class="modal-tweet__form-text">
          <textarea class="modal-tweet__text-area" name="tweet_text" rows="5" placeholder="What's happening?"></textarea>
          <select class="modal-tweet__select-privacy" name="tweet_privacy">
            <option name="everyone">Everyone</option>
            <option name="people_you_follow">People you follow</option>
            <option name="only_people_you_mention">Only people you mention</option>
          </select>
        </div>
        <hr>
        <div class="modal-tweet__form-images">
          <div>
            <label for="tweet_images">
              <img class="modal-tweet__form-image-button" src="{% static 'twitter_web/assets/icons/icons8-add-image-96.png' %}">
            </label>
            <input id="tweet_images" type="file" name="images" multiple>
          </div>
          <div>
            <input class="modal-tweet__form-tweet-button" type="submit" value="Tweet">
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="modal-error">
    <p></p>
  </div> -->

  <div class="container">

    {% include 'twitter_web/include/nav-bar.html' %}

    <main class="main-section">
      <header class="main-section__header">
        <div class="main-section__go-back">
          <a class="main-section__go-back-link" href="{% url 'twitter_web:search' %}">
            <div>
              <img src="{% static 'twitter_web/assets/icons/icons8-left-96.png' %}">
            </div>
          </a>
        </div>
        <div class="main-section__user-head">
          <h2 class="main-section__user-heading">
            <span>{{ user.fname }}</span>
            <span>{{ user.lname }}</span>
            {% if user.is_verified %}
            <span><img class="main-section__user-verified-tag"
                src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}"></span>
            {% endif %}
          </h2>
          <p class="main-section__user-tweet-count">
            {{ user.tweet_count }} Tweet{{ user.tweet_count|pluralize:" ,s"}}
          </p>
        </div>
      </header>

      <article class="main-section__includer">
        <section class="main-section__profile">
          <div class="main-section__header-image">
            {% if user.header_image_url == "default" %}
            <img class="main-section__header-img"
              src="{% static 'twitter_web/assets/icons/default_profile_header.jpg' %}">
            {% else %}
            <img class="main-section__header-img" src="{{ user.header_image_url }}">
            {% endif %}
          </div>

          <div class="main-section__profile-image">
            <div class="main-section__profile-image-circle">
              {% if user.profile_image_url == "default" %}
              <img class="main-section__profile-img"
                src="{% static 'twitter_web/assets/icons/default_profile_image.png' %}">
              {% else %}
              <img class="main-section__profile-img" src="{{ user.profile_image_url }}">
              {% endif %}
            </div>

            <div class="main-section__buttons">
              {% if user.is_same_user %}
              <a class="main-section__edit-profile" href="{% url 'twitter_web:edit_profile' %}">Edit Profile</a>
              {% else %}
              <form onsubmit="return false" class="main-section__follow-form" action="{% url 'twitter_web:follow' %}"
                method="POST">
                {% csrf_token %}
                {% if user.is_follower %}
                <input class="main-section__follow  main-section__unfollow" type="submit" name="follow_value"
                  value="Unfollow" onclick="onFollowButtonClick()">
                {% else %}
                <input class="main-section__follow" type="submit" name="follow_value" value="Follow"
                  onclick="onFollowButtonClick()">
                {% endif %}
                <input type="hidden" name="follower" value="{{ user.visitor }}">
                <input type="hidden" name="profile" value="{{ user.username }}">
              </form>
              {% endif %}

              <button class="main-section__more-option">
                <img src="{% static 'twitter_web/assets/icons/icons8-menu-vertical-96.png' %}">
              </button>
            </div>
          </div>
        </section>

        <section class="main-section__bio">
          <div class="info">
            <h2 class="info__name">
              <span>{{ user.fname }}</span>
              <span>{{ user.lname }}</span>
              {% if user.is_verified %}
              <span class="info__verified">
                <img src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}">
              </span>
              {% endif %}
            </h2>
            <p class="info__username">
              <span>@{{ user.username }}</span>
            </p>
          </div>
          {% if user.show_profile %}
          <div class="bio">
            <p class="bio__text">{{ user.bio }}</p>
          </div>
          {% endif %}
          <div class="details">
            <div class="details__country">
              <span class="details__country-image"><img
                  src="{% static 'twitter_web/assets/icons/icons8-visit-96.png' %}"></span>
              <span>{{ user.country }}</span>
            </div>
            <div class="details__date-joined">
              <span class="details__date-joined-image"><img
                  src="{% static 'twitter_web/assets/icons/icons8-tear-off-calendar-96.png' %}" </span>
                <span>{{ user.joined_month }}</span>
                <span>{{ user.joined_year }}</span>
            </div>
          </div>
          <div class="follow">
            <div class="follow__following">
              <span class="follow__following-number">{{ user.following_count }}</span>
              <span class="follow__following-text">Following</span>
            </div>
            <div class="follow__followers">
              <span class="follow__followers-number">{{ user.follower_count }}</span>
              <span class="follow__followers-text">Followers</span>
            </div>
          </div>
        </section>

        {% if user.show_profile %}
        <section class="main-section__tweets">
          {% for tweet_ in user.tweets %}
          {% if tweet.get_type == 'retweet' %}
          {% include 'twitter_web/include/tweet.html' with is_retweeted=True tweet=tweet_.retweet_post_id retweeted_by=tweet_.retweet_user_id %}
          {% else %}
          {% include 'twitter_web/include/tweet.html' with is_retweeted=False tweet=tweet_ retweeted_by='' %}
          {% endif %}
          {% endfor %}
        </section>
        {% else %}
        <section class="main-section__no-tweets">
          <h3>These tweets are protected.</h3>
          <p>
            Only confirmed followers have access to @{{ user.username }}'s Tweets
            and complete profile. Tap the 'follow' button to send a follow request.
          </p>
        </section>
        {% endif %}
      </article>
    </main>

    {% include 'twitter_web/include/search-bar.html' %}

  <div>

  <script src="{% static 'twitter_web/js/profile.js' %}"></script>

{% include 'twitter_web/include/footer.html' %}