{% include 'twitter_web/include/head.html' with title=user.name %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_web/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
</head>

<body>
  
  {% include 'twitter_web/include/tweet-modal.html' %}

  {% if not user.session_user %}
  <div class="modal-login">
    <h3 class="modal-login__title">Join Twitter</h3>
    <p class="modal-login__subtitle">Login or register to complete the action.</p>
    <div class="modal-login__buttons">
      <a class="modal-login__button modal-login__button--login" href="{% url 'twitter_web:login' %}">Login</a>
      <a class="modal-login__button modal-login__button--register" href="{% url 'twitter_web:register' %}">Register</a>
    </div>
    <button class="modal-login__cancel" id="cancel-button" onclick="dismissLoginModal()">X</button>
  </div>
  {% endif %}

  {% include 'twitter_web/include/error-modal.html' %}

  <div class="container">

    {% include 'twitter_web/include/nav-bar.html' with session_user=user.session_user page='profile' %}

    <main class="main-section">
      <header class="main-section__header">
        <div class="main-section__go-back">
          <a class="main-section__go-back-link" href="{% url 'twitter_web:search' %}">
            <div>
              <img src="{% static 'twitter_web/assets/icons/icons8-left-96.png' %}">
            </div>
          </a>
        </div>
        <div class="main-section__user-head">
          <h3 class="main-section__user-heading">
            <span>{{ user.fname }}</span>
            <span>{{ user.lname }}</span>
            {% if user.is_verified %}
            <span><img class="main-section__user-verified-tag"
                src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}"></span>
            {% endif %}
          </h3>
          <p class="main-section__user-tweet-count">
            {{ user.tweet_count }} Tweet{{ user.tweet_count|pluralize:" ,s"}}
          </p>
        </div>
      </header>

      <article class="main-section__includer">
        <section class="main-section__profile">
          <div class="main-section__header-image">
            {% if user.header_image_url == "default" %}
            <img class="main-section__header-img"
              src="{% static 'twitter_web/assets/icons/default_profile_header.jpg' %}">
            {% else %}
            <img class="main-section__header-img" src="{{ user.header_image_url }}">
            {% endif %}
          </div>

          <div class="main-section__profile-image">
            <div class="main-section__profile-image-circle">
              {% if user.profile_image_url == "default" %}
              <img class="main-section__profile-img"
                   src="{% static 'twitter_web/assets/icons/default_profile_image.png' %}">
              {% else %}
              <img class="main-section__profile-img" src="{{ user.profile_image_url }}">
              {% endif %}
            </div>

            <div class="main-section__buttons">
              {% if user.is_same_user %}
              <a class="main-section__edit-profile" href="{% url 'twitter_web:edit_profile' %}">Edit Profile</a>
              {% else %}
              <form onsubmit="return false" class="main-section__follow-form" action="{% url 'twitter_web:follow' %}"
                method="POST">
                {% csrf_token %}
                {% if user.is_follower %}
                <input class="main-section__follow  main-section__unfollow" type="submit" name="follow_value"
                  value="Unfollow" onclick="onFollowButtonClick()">
                {% else %}
                <input class="main-section__follow" type="submit" name="follow_value" value="Follow"
                  onclick="onFollowButtonClick()">
                {% endif %}
                <input type="hidden" name="follower" value="{{ user.visitor }}">
                <input type="hidden" name="profile" value="{{ user.username }}">
              </form>
              {% endif %}

              {% if not user.is_same_user %}
              <a class="main-section__more-option" href="{% url 'twitter_web:conversation' username=user.username %}">
                <img src="{% static 'twitter_web/assets/icons/icons8-secured-letter-96.png' %}">
              </a>
              {% endif %}
            </div>
          </div>
        </section>

        <section class="main-section__bio">
          <div class="info">
            <h2 class="info__name">
              <span>{{ user.fname }}</span>
              <span>{{ user.lname }}</span>
              {% if user.is_verified %}
              <span class="info__verified">
                <img src="{% static 'twitter_web/assets/icons/icons8-verified-account-100.png' %}">
              </span>
              {% endif %}
            </h2>
            <p class="info__username">
              <span>@{{ user.username }}</span>
            </p>
          </div>
          {% if user.show_profile %}
          <div class="bio">
            <p class="bio__text">{{ user.bio }}</p>
          </div>
          {% endif %}
          <div class="details">
            <div class="details__country">
              <span class="details__country-image"><img
                  src="{% static 'twitter_web/assets/icons/icons8-visit-96.png' %}"></span>
              <span>{{ user.country }}</span>
            </div>
            <div class="details__date-joined">
              <span class="details__date-joined-image"><img
                  src="{% static 'twitter_web/assets/icons/icons8-tear-off-calendar-96.png' %}" </span>
                <span>{{ user.joined_month }}</span>
                <span>{{ user.joined_year }}</span>
            </div>
          </div>
          <div class="follow">
            <div class="follow__following">
              <a class="follow__following-link" href="{% url 'twitter_web:follow_list' selected='following' username=user.username %}">
                <span class="follow__following-number">{{ user.following_count }}</span>
                <span class="follow__following-text">Following</span>
              </a>
            </div>
            <div class="follow__followers">
              <a class="follow__following-link" href="{% url 'twitter_web:follow_list' selected='followers' username=user.username %}">
                <span class="follow__followers-number">{{ user.follower_count }}</span>
                <span class="follow__followers-text">Followers</span>
              </a>
            </div>
          </div>
        </section>

        {% if user.show_profile %}
        <div class="main-section__tab-links">
          <div class="main-section__tab-link main-section__tab-link--selected" onclick="selectTab('tweets')">Tweets</div>
          <div class="main-section__tab-link" onclick="selectTab('likes')">Likes</div>
        </div>
        <div class="main-section__tabs">
          <section class="main-section__tweets">
            {% if user.tweets %}
            {% for tweet_ in user.tweets %}
            {% if tweet_.get_type == 'retweet' %}
            {% include 'twitter_web/include/tweet.html' with session_user=user.session_user tweet=tweet_.post_id is_retweeted=True retweeted_by=tweet_.user_id %}
            {% else %}
            {% include 'twitter_web/include/tweet.html' with session_user=user.session_user tweet=tweet_ is_retweeted=False  retweeted_by='' %}
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="main-section__tweets-emtpy">
              <h4 class="main-section__tweets-empty-heading">Compose your very first tweet</h4>
              <img class="main-section__tweets-empty-image" src="{% static 'twitter_web/assets/icons/empty_tweets.png' %}">
            </div>
            {% endif %}
          </section>
          <section class="main-section__liked-tweets">
            {% if user.liked_tweets %}
            {% for tweet_ in user.liked_tweets %}
            {% include 'twitter_web/include/tweet.html' with session_user=user.session_user tweet=tweet_.post_id %}
            {% endfor %}
            {% else %}
            <div class="main-section__tweets-emtpy">
              <h4 class="main-section__tweets-empty-heading">Like your very first tweet</h4>
              <img class="main-section__tweets-empty-image" src="{% static 'twitter_web/assets/icons/empty_tweets.png' %}">
            </div>
            {% endif %}
          </section>
        </div>
        {% else %}
        <section class="main-section__no-tweets">
          <h3>These tweets are protected.</h3>
          <p>
            Only confirmed followers have access to @{{ user.username }}'s Tweets
            and complete profile. Tap the 'follow' button to send a follow request.
          </p>
        </section>
        {% endif %}
      </article>
    </main>

    {% include 'twitter_web/include/search-bar.html' %}

  </div>

  <script src="{% static 'twitter_web/js/profile.js' %}"></script>
  <script src="{% static 'twitter_web/js/tweet.js' %}"></script>

{% include 'twitter_web/include/footer.html' %}