{% include 'twitter_web/include/head.html' with title='Explore/Twitter' %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_web/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/follow-item.css' %}">
</head>

<body>

	{% include 'twitter_web/include/tweet-modal.html' %}
	
	{% if not user.session_user %}
	<div class="modal-login">
		<h3 class="modal-login__title">Join Twitter</h3>
		<p class="modal-login__subtitle">Login or register to complete the action.</p>
		<div class="modal-login__buttons">
		<a class="modal-login__button modal-login__button--login" href="{% url 'twitter_web:login' %}">Login</a>
		<a class="modal-login__button modal-login__button--register" href="{% url 'twitter_web:register' %}">Register</a>
		</div>
		<button class="modal-login__cancel" id="cancel-button" onclick="dismissLoginModal()">X</button>
	</div>
	{% endif %}
	
	{% include 'twitter_web/include/error-modal.html' %}
	
	<div class="container">

		{% include 'twitter_web/include/nav-bar.html' with session_user=session_user page='search' %}
	
		<main class="main-section">

			<header>
				<nav>
					<a>
						<div>
							<!-- This image changes to back button when clicked on search field-->
							<img>
						</div>
					</a>
					<div>
						<img>
						<form action="{% url 'twitter_web:search' %}" method="POST">
							{% csrf_token %}
							<input type="text" name="search">
							<input type="submit" value="Go">
						</form>
					</div>
					<button>
						<img>
					</button>
				</nav>
			</header>

			<!-- Show back button when visible -->
			<!-- Appears when clicked on search field otherwise hidden -->
			<section class="searching">
				<p>Try searching for people, topics or keywords</p>
			</section>

			{% if error_message %}
			<!-- Show back button when visible -->
			<section class="error">
				<p>{{ error_message }}</p>
			</section>

			{% else %}

			<main class="main-contents">
				<section class="tab-link">
					<button class="tab-link__item">Latest Tweets</button>
					<button class="tab-link__item">Trending</button>
					<button class="tab-link__item">People</button>
				</section>
				
				<section class="tabs">
					<article class="latest-tweets">
						<mark>Tweets</mark>
						{% for tweet_ in latest_tweets %}
							{% include 'twitter_web/include/tweet.html' with tweet=tweet_ session_user=session_user %}
						{% endfor %}
					</article>
					<article class="trending">
						<mark>{{ country }} trends</mark>
						{% for trend_ in trends|slice:":10" %}
							{% include 'twitter_web/include/trend.html' with trend=trend_ %}
						{% endfor %}
					</article>
					<article class="people">
						{% for person in people %}
							{% include 'twitter_web/include/follow-list-item.html' with session_user=session_user user=person %}
						{% endfor %}
					</article>
				</section>

			</main>
			{% endif %}
		</main>
	</div>

{% include 'twitter_web/include/footer.html' %}