{% include 'twitter_web/include/head.html' with title=user.name %}
{% load static %}
<link rel="stylesheet" href="{% static 'twitter_web/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/nav-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/tweet.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/search-bar.css' %}">
<link rel="stylesheet" href="{% static 'twitter_web/css/settings.css' %}">
</head>

<body>

  {% include 'twitter_web/include/tweet-modal.html' %}

  {% if not user.session_user %}
  <div class="modal-login">
    <h3 class="modal-login__title">Join Twitter</h3>
    <p class="modal-login__subtitle">Login or register to complete the action.</p>
    <div class="modal-login__buttons">
      <a class="modal-login__button modal-login__button--login" href="{% url 'twitter_web:login' %}">Login</a>
      <a class="modal-login__button modal-login__button--register" href="{% url 'twitter_web:register' %}">Register</a>
    </div>
    <button class="modal-login__cancel" id="cancel-button" onclick="dismissLoginModal()">X</button>
  </div>
  {% endif %}

  <div class="modal-error">
    <h3 class="modal-erro__head">Error</h3>
    <p class="modal-error__message"></p>
    <button class="modal-error__cancel" onclick="dismissErrorModal()">X</button>
  </div>

  <div class="container">

    {% include 'twitter_web/include/nav-bar.html' with session_user=session_user page='settings' %}

    <main class="main-section">
      <header class="main-section__header">
        <div class="main-section__go-back">
          <a class="main-section__go-back-link" href="{% url 'twitter_web:profile' username=session_user.username %}">
            <div>
              <img src="{% static 'twitter_web/assets/icons/icons8-left-96.png' %}">
            </div>
          </a>
        </div>
        <div class="main-section__user-head">
          <h3 class="main-section__user-heading">
            Settings
          </h3>
        </div>
      </header>

      <article class="main-section__settings">
        <section class="settings__single-setting">
          <h3 class="settings__title">Wanna take a break?</h3>
          <form action="{% url 'twitter_web:logout' %}" method="POST">
            {% csrf_token %}
            <input class="settings__single-setting-button" type="submit" value="Logout">
          </form>
          <p></p>
        </section>

        <!-- <section class="settings__single-setting">
          <h3 class="settings__title">Your account</h3>
          <p class="settings__description">See information about your account</p>
          <div class="settings__sub-setting">
            <h4>Change your password</h4>
            <p>Change your password anytime.</p>
            <form>
              {% csrf_token %}
              <input type="password" name="current-password" placeholder="Current Password">
              <input type="password" name="new-password" placeholder="New Password">
              <input type="password" name="new-password-repeat" placeholder="Repeat New Password">
              <input class="settings__single-setting-button" type="submit" value="Save">
            </form>
          </div>
          <div class="settings__sub-setting">
            <h4>Account information</h4>
            <p>See your account information like your phone number and email address.</p>
            <form>
              {% csrf_token %}
              <input type="email" name="email" placeholder="Email">
              <input type="tel" name="phone" placeholder="Phone">
              <input class="settings__single-setting-button" type="submit" value="save">
            </form>
          </div>
        </section>

        <section class="settings__single-setting">
          <h3 class="settings__title">Privacy and Safety</h3>
          <p class="settings__description">Manage what information you see and share on Twitter</p>
          <div>
            <h4>Protect you Tweets</h4>
            <p>Only show your Tweets to people who follow you.</p>
            <form>
              {% csrf_token %}
              <input type="checkbox" name="is_private" value="False" unchecked>
              <input class="settings__single-setting-button" type="submit" value="save">
            </form>
          </div>
        </section> -->
      </article>
    </main>

    {% include 'twitter_web/include/search-bar.html' %}

  </div>

  <script src="{% static 'twitter_web/js/profile.js' %}"></script>
  <script src="{% static 'twitter_web/js/tweet.js' %}"></script>

{% include 'twitter_web/include/footer.html' %}