.modal-backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-error,
.modal-login,
.modal-tweet {
    position: fixed;
    display: none;
    z-index: 20;
    top: 30%;
    left: 15%;
    width: 70%;
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.modal-login__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.modal-login__title {
    margin: 0 0;
}

.modal-login__subtitle {
    margin-bottom: 2rem;
}

.modal-login__button {
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 0.5rem;
    color: #111;
    font-weight: bold;
}

.modal-login__button--login {
    color: #fff;
    background-color: #111;
}

.modal-login__cancel {
    border: none;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: #fff;
    position: fixed;
    top: 27.5%;
    left: 82.5%;
    z-index: 30;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}


/*************************** Tweet Modal *******************************/

.modal-tweet {
    top: 20%;
    left: 10%;
    width: 80%;
    padding: 1.5rem;
}

.modal-tweet__cancel {
    border: none;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: #fff;
    position: fixed;
    top: 17.5%;
    left: 87.5%;
    z-index: 30;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

.modal-tweet__content {
    display: flex;
    column-gap: 1rem;
}

.modal-tweet__profile-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10rem;
}

#tweet_images {
    display: none;
}

.modal-tweet__form {
    display: inline-block;
    width: 100%;
}

.modal-tweet__form-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-tweet__text-area {
    display: inline-block;
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.modal-tweet__select-privacy {
    width: 30%;
    padding: 0.25rem;
    border: none;
    color: #00acee;
    font-size: 1rem;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

.modal-tweet__form-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-tweet__form-image-button {
    height: 2rem;
}

.modal-tweet__form-tweet-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    background-color: #00acee;
    color: white;
    font-weight: bold;
}

.modal-error {
    padding: 1rem;
}

.hide {
    display: none;
    opacity: 0;
    transition: linear 2s;
}

.show {
    display: block;
    opacity: 100;
    transition: linear 2s;
}