* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*************************** Main Section ***************************/

.container {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 5rem 7fr;
    grid-template-areas: "nav main";
}

.main-section {
    overflow-y: scroll;
    /* height: 100vh; */
    position: relative;
}

.main-section__header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: sticky;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    top: 0;
    z-index: 1;
}

.main-section__go-back {
    display: inline-block;
}

.main-section__go-back-link {
    height: 100%;
}

.main-section__go-back-link img {
    height: 2rem;
}

.main-section__user-head {
    display: inline-block;
}

.main-section__user-heading {
    margin: 0;
}

.main-section__user-verified-tag {
    height: 1.25rem;
}

.main-section__user-tweet-count {
    margin: 0.25rem 0 0 0;
}

.main-section__nav-item-link {
    height: 1rem;
}

.main-section__header-image {
    padding: 0;
    margin: 0;
    height: 10rem;
}

.main-section__header-img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.main-section__profile-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.main-section__profile-image-circle {
    position: absolute;
    top: -4.5rem;
    left: 5%;
}

.main-section__profile-img {
    height: 7rem;
    width: 7rem;
    border-radius: 7rem;
    border: 3px solid #fff;
    object-fit: cover;
    object-position: center;
}


.main-section__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5rem;
    margin-right: 2rem;
}

.main-section__edit-profile  {
    text-decoration: none;
    border: 1px solid #111111;
    border-radius: 5rem;
    padding: 1rem;
    color: #111111;
}

.main-section__follow {
    border: 1px solid #111;
    color: #111111;
    padding: 1rem;
    border-radius: 5rem;
    color: #fff;
    background-color: #111;
    font-weight: bold;
}

.main-section__unfollow {
    color: #111;
    background-color: #fff;
}

.main-section__more-option {
    border: 1px solid #111111;
    background-color: transparent;
    border-radius: 5rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section__more-option > img {
    height: 2rem;
    width: 2rem;
}

.main-section__bio {
    padding: 1rem;
}

.info__name {
    margin: 0;
}

.info__verified > img {
    height: 1rem;
}

.info__username {
    margin: 0.2rem 0;
    color: #7f7f7f;
}

.details {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 1rem;
}

.details__country,
.details__date-joined,
.details__date-joined-image {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.details__country-image > img,
.details__date-joined-image > img {
    height: 1.25rem;
}

.follow {
    display: flex;
    column-gap: 2rem;
}

.follow__following,
.follow__followers {
    display: flex;
    column-gap: 0.5rem;
}

.follow__following-link,
.follow__followers-link {
    color: #7f7f7f;
    text-decoration: none;
}

.follow__following-number,
.follow__followers-number {
    font-weight: bold;
    color: #000;
}

.follow__following-text,
.follow__followers-text {
    color: #7f7f7f;
}

.main-section__tab-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 3.75rem;
    background-color: #fff;
}

.main-section__tab-link {
    padding: 0.75rem;
    cursor: pointer;
}

.main-section__tab-link--selected {
    border-bottom: 2px solid #00acee;
}

.main-section-tweets-empty {
    text-align: center;
}


.main-section__tweets-empty-heading {
    margin-top: 2rem;
    text-align: center;
}

.main-section__tweets-empty-image {
    display: block;
    width: 90%;
    margin: auto;
}

.main-section__liked-tweets {
    display: none;
}

.main-section__no-tweets {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-section {
    display: none;
}

@media(min-width: 60rem) {

    .container {
        grid-template-columns: 5rem 7fr 4fr;
        width: 80%;
        max-width: 80rem;
    }

    .search-section {
        display: block;
    }
}