.single-trend {
    width: 100%;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.single-trend__trend-number {
    font-weight: bold;
    color: #7f7f7f;
}

.single-trend__trend-word {
    font-size: 1.1rem;
    font-weight: bold;
}

.single-trend__trend-count {
    color: #7f7f7f;
}